services:
  db:
    image: postgres:16
    container_name: callba_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - callba_pgdata:/var/lib/postgresql/data

volumes:
  callba_pgdata:
