/* 기본 스타일 설정 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

.container {
  width: 100%;
  max-width: 100%; /* 화면 너비에 딱 맞춤 */
  margin: 0 auto;
  padding: 0;
  /* overflow-x: hidden;  ✅ 가로 스크롤 완전히 차단 */
}

/* 헤더 스타일 */

.header-box {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #4f46e5; /* 배경을 흰색으로 설정 */
  border: 1px solid #4f46e5; /* 파란색 테두리 */
  text-align: left;
  padding: 0px;
  padding-left: 20px;
  align-items: center;
}

.header-box a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: black; /* 링크 텍스트 색상 */
  font-size: 30px;
}

.header-box h1 {
  padding-top: 0px;
  margin: 0;
}

.footer {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 10px 0;
  /* margin-top: 0;  <- 큰 마진들 제거 */
  z-index: 10;
}

.container {
  padding-bottom: 60px; /* 푸터 높이만큼 */
}

.second-title {
  font-size: 47px;
  font-weight: bold;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 0px; /* 아래 여백으로 입력창과 간격 조정 */
  color: #000; /* 필요하면 색상 변경 가능 */
}

input,
textarea,
button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.call-button {
  background-color: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.phone-number-list-button:active {
  background-color: #ddd;
}

.call-button:hover {
  background-color: #3f4d93;
}

.welcome {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px; /* 아래 여백으로 입력창과 간격 조정 */
  color: #000; /* 필요하면 색상 변경 가능 */
}

.phone-number-list-button {
  width: 120px;
  padding-top: 0px;
  padding-bottom: 2px;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;

  display: block;
}

.input-phone-number {
  width: 275px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 25px;
  font-weight: bold;
}

.footer2 {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 40px;
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 10px 0;
  /* margin-top: 0;  <- 큰 마진들 제거 */
  z-index: 10;
}
